<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= review.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sneaker:</strong>
    <%= review.sneaker_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= review.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </p>
</div>
